.banner {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.semi-circle {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.semi-circle-content {
    color: goldenrod;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.overlay {
    /* margin-top: -500px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Poppins;
    Font-style: Mixed;
    Font-size: 100px;
    width: 900px;
    Line-height: 125px;
    Line-height: 104%;
    position: absolute;
    text-align: center;
}

.img1 {
    width: 100%;
    height: 650px;
    margin-top: -10px;
    margin-right: -40px;
}

.overlay1 {
    text-align: center;
    margin-top: -620px;
}

.overlay2 {
    text-align: center;
}

.image-container {
    position: relative;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 65%;
    height: 45%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    clip-path: ellipse(50% 100% at 50% 100%);
}

.image-container1 {
    position: relative;
    display: flex;
    align-items: center;
}

.img {
    width: 100%;
    height: 650px;
    margin-top: -10px;
    margin-right: -40px;
}

.image6::after {
    content: "";
    position: absolute;
    margin-top: 10px;
    margin-left: -1190px;
    width: 70%;
    height: 85%;
    background: linear-gradient(to top, rgba(25, 22, 22, 0.7) 0%, rgba(117, 113, 113, 0) 100%);
    /* background-color: rgb(41, 38, 38); */
    clip-path: ellipse(50% 90% at 50% 140%);
}

.imb {
    position: absolute;
    border: none;
    bottom: -30px;
    left: 300px;
    color: white;
}


/* .imb :hover{
      cursor: pointer;
    } */

.imb2 {
    position: absolute;
    /* bottom: 2px; */
    bottom: -30px;
    right: 300px;
    color: white;
}

.img4 {
    margin-top: -300px;
    margin-left: 605px;
}