<app-navbar></app-navbar>

<div style="margin-top: 10px;">
    <div class="image6">
        <img src="../../assets/images/Rectangle 9826.png" class="img" alt="...">
        <p class="imb">BROCHURE</p>
        <p class="imb2">FLOOR PLAN</p>
    </div>
    <div>
        <p>
            <img src="../assets/images/img4.png" class="img4" alt="Your Image">

        </p>

    </div>
    <div>


    </div>

</div>

<br>
<br>
<br>
<br><br>
<app-left-overlay>
</app-left-overlay>

<app-right-overlay></app-right-overlay>


<app-newsletter></app-newsletter>
<app-footer></app-footer>