<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../assets/images/Rectangle 9829.png" alt="Image">
                <div class="overlay">
                    <h3 style="color: #303033; text-align: left; font-size: 35.52px; font-family: Chronicle Display; font-weight: 325; text-transform: uppercase; ">DIPLOMATS GROUP - ANTRIKSH HEIGHTS, SECTOR-84, GURGAON</h3>
                    <p style="color: #303033;
                    text-align: justify;
                    font-size: 12.337px;
                    font-family: Poppins;
                    font-weight: 700;
                        ">There are 6 towers meant for the members of the Ministry of External Affairs Employees Welfare Society out of 13 towers in the sprawling Antriksh Heights spread across 23 acres. This is not only about a twenty storey high housing complex.
                        It is about heights. Heights which sometimes cannot be measured, sometimes can be great enough- 'invaluable'. Like the vast expanse of space (Antriksh), heights can lead to infinity. The immeasurable. Heights can be about the feeling
                        of exhilaration upon achieving the best.</p>

                </div>
            </div>
        </div>
    </div>
</div>