<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../assets/images/Rectangle 9829.png" alt="Image">
                <div class="overlay">
                    <h3 style="color: #303033;
                    font-size: 35.52px;
                    font-family: Chronicle Display;
                    font-weight: 325;
                    text-transform: uppercase;
                    
                    ">DIPLOMATS GROUP - Golflink</h3>
                    <p style="color: #303033;
                    text-align: justify;
                    font-size: 12.337px;
                    font-family: Poppins;
                    font-weight: 700;
                     ">Diplomats golf link affordable housing project, Sector 110, in the millennium city of Gurugram by Millennium Diplomats Pvt. Ltd. The premium Affordable Housing Project " DIPLOMATS GOLF LINK " is IGBC Approved Gold Rating Environment
                        Friendly, strategically located at 30-Mtr..</p>
                    <button style="display: flex;
                    width: 184px;
                    height: 49.919px;
                    background-color: black;
                    color:white;
                    padding: 12.394px 39.247px;
                    justify-content: center;
                    align-items: center;
                    gap: 6.885px;
                    flex-shrink: 0;">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>