<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../assets/images/Rectangle 9829.png" alt="Image">
                <div class="overlay">
                    <h3>DIPLOMATS GROUP - Golflink</h3>
                    <p>Diplomats golf link affordable housing project, Sector 110, in the millennium city of Gurugram by Millennium Diplomats Pvt. Ltd. The premium Affordable Housing Project "DIPLOMATS GOLF LINK" is IGBC Approved Gold Rating Environment
                        Friendly, strategically located at 30-Mtr..</p>
                    <button>Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>