<div class="container p-5 mt-15">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../../assets/images/Rectangle 9829.png" alt="Image" class="img-fluid">
                <div class="overlay">
                    <h3 class="text-right">Antariksh Heights</h3>
                    <p class="text-right">There are 6 towers meant for the members of the Ministry of External Affairs Employees Welfare Society out of 13 towers in the sprawling Antriksh Heights spread across 23 acres. This is not only about a twenty storey high housing complex.
                        It is about heights.</p>
                    <button class="btn btn-dark btn-sm float-right">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>