<div class="container p-5">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../../assets/images/Rectangle 9829.png" alt="Image">
                <div class="overlay">
                    <h3 style=" color: #303033;
                    font-size: 35.52px;
                    font-family: Chronicle Display;
                    font-weight: 325;
                    text-transform: uppercase;
                    align-items: right;
                    text-align: end;
                    
                    ">Antariksh Heights</h3>
                    <p style="color: #303033;
                    text-align: justify;
                    font-size: 12.337px;
                    font-family: Poppins;
                    font-weight: 700;
                    text-align: right;
                    
        
                     ">There are 6 towers meant for the members of the Ministry of External Affairs Employees Welfare Society out of 13 towers in the sprawling Antriksh Heights spread across 23 acres. This is not only about a twenty storey high housing complex.
                        It is about heights.</p>
                    <button style="display: flex;
                        width: 184px;
                        height: 49.919px;
                        background-color: black;
                        color:white;
                        padding: 12.394px 39.247px;
                        justify-content: center;
                        align-items: center;
                        gap: 6.885px;
                        flex-shrink: 0;
                        float:right;">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>