<app-navbar></app-navbar>

<div class="banner banner-image">
</div>

<div class="container pb-5">
    <div class="row p-12">
        <div class="col-8">
            <h3 class="section-title">MESSAGE FROM</h3>
            <h1 class="main-title">Our Chairman</h1>
            <div class="container">
                <div class="row">
                    <div class="col-6 p-0">
                        <p class="quote">"Creating Spaces That Inspire"</p>
                    </div>
                    <div class="col-6 p-0"></div>
                </div>
                <div class="row">
                    <div class="col-6 p-0"></div>
                    <div class="col-6 p-0">
                        <p class="quote" style="color: black;">Enrich and transform lives"</p>
                    </div>
                </div>
                <div class="row">
                    <p class="message">Delhi NCR region has emerged as a real estate hotspot due to the large-scale migration of people in search of better opportunities and modern lifestyle. Diplomats Group, one of NCR’s leading luxury housing developers has completed
                        multiple projects across NCR including Antriksh Heights Sector-84, Gurgaon to meet the needs of its customers. Now our upcoming luxury affordable housing project – Diplomats Golf Link in Sector- 110, Dwarka Expressway, Gurgaon
                        is set to create a benchmark in affordable housing segment. The landmark project has an executive golf course, and reserved parking space for every flat which is a first in an affordable housing project. Diplomats Golf Links is
                        located right on the Dwarka Expressway and offers a plethora of amenities including golf view greens, open gymnasium, a yoga and meditation room, and more. We have taken the utmost care to bring luxury amenities to our buyers at
                        an affordable price.</p>
                </div>
                <div class="row align-items-end justify-content-end">
                    <h3 class="signature">-Ramesh Bisla</h3>
                    <p class="designation">Founder & Chairman</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="../../assets/images/Untitled design (15) 1 (2).png">
        </div>
    </div>
</div>

<div class="banner1" style="position: relative;
height: 80vh;
background: url('../../assets/images/jakob-soby-RjPG-_LVmiQ-unsplash\ 1\ \(1\).png') no-repeat center center fixed;
background-size: cover;">
    <div class=" overlay-container ">
        <h1 class="vision-title ">OUR VISION</h1>
        <p class="vision-description ">Diplomats Group aims to revolutionize the real estate sector by bringing ultra-luxurious homes within reach of all our customers. We want to create benchmarks of luxury and affordability in all the projects that we deliver. We strive to deliver
            quality brick by brick in all our projects. We believe in creating value for our customers and we constantly endeavor</p>
    </div>
</div>

<div class="container pt-5 ">
    <div class="row p-12 ">
        <div class="col-8 pb-25 ">
            <h3 class="section-title ">ABOUT</h3>
            <h1 class="main-title ">Diplomats Group</h1>
            <div class="row ">
                <p class="about-description ">The Diplomats Group brings for its customers homes which are designed with the principles of innovation, sustainability and excellence. We aim to exceed our customers' expectations with quality constructions by integrating the finest design
                    aesthetics with state-of-the-art technology.</p>
            </div>
            <div class="row ">
                <p class="about-description ">We aim to develop modern communities which provide value for money to our customers. We aim to deliver projects with complete commitment, trust and integrity to our buyers. It is our constant endeavor to provide our customers with the
                    finest quality homes while ensuring total transparency in our dealings. We strive to meet the expectations of our customers and deliver homes that help create memories of a lifetime.</p>
            </div>
            <div class="row align-items-start justify-content-start ">
                <div class="col-6 ">
                    <a class="btn btn-primary " href="# " role="button ">CONTACT US</a>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <img class="img-fluid " src="../../assets/images/jll-about-us-desktop 1.png ">
        </div>
    </div>
</div>

<app-newsletter></app-newsletter>
<app-footer></app-footer>