<div class="container bg-image p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="p-5">
                <div class="card" style="background-color: transparent;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 40.7042px;
                        line-height: 61px;
                        /* identical to box height */
                        
                        text-align: justify;
                        
                        color: #FFED8B;
                        
                        ">GET IN TOUCH WITH US</h5>
                        <form>
                            <div class="form-group">
                                <p for="nameInput" class="input-field" style="color: #8D8D8D;">Name</p>

                                <input type="text" style="color: #8D8D8D;" class="form-control" id="nameInput" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <p for="emailInput" class="input-field" style="color: #8D8D8D;">Email</p>

                                <input type="email" style="color: #8D8D8D;" class="form-control" id="emailInput" placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                                <p for="phoneInput" class="input-field" style="color: #8D8D8D;">Phone</p>

                                <div class="input-group">
                                    <div class="input-group-prepend" style="background-color: transparent;">
                                        <select class="custom-select ">
                              <option selected>+1</option>
                              <option>+91</option>
                              <option>+44</option>
                              <!-- Add more country codes as needed -->
                            </select>
                                    </div>
                                    <input type="tel" style="color: #8D8D8D;" class="form-control" id="phoneInput" placeholder="Enter your phone number">
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="messageInput" class="input-field" style="color: #8D8D8D;">Message</p>

                                <textarea class="form-control" style="color: #8D8D8D;" id="messageInput" rows="4" placeholder="Enter your message"></textarea>
                            </div>
                            <br>
                            <div class="row"><button type="submit" class="btn btn-primary btn-block">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-5">
                <h1 style="font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 40.7042px;
                line-height: 61px;
                /* identical to box height */
                
                text-align: justify;
                
                color: #FFED8B;
                
                ">Contact US</h1>
                <div class="card shadow" style=" background-color: transparent;">
                    <div class=" card-body ">
                        <ul class="list-unstyled ">
                            <li>
                                <h2 class="contus ">Admin OFfice:</h2>
                                <a href="#! " class="contuss ">F2550E, opp. Manipal hospital, Palam vihar, Gurgaon, Haryana 122017</a>
                            </li>
                            <li>
                                <h2 class="contus ">Corporate:</h2>

                                <a href="#! " class="contuss ">98990-92879
                                            9696-100-500</a>
                            </li>
                            <li>
                                <h2 class="contus ">Email:</h2>

                                <a href="#! " class="contuss ">palamestates7@gmail.com</a>
                            </li>
                            <li>
                                <h2 class="contus ">Phone:</h2>

                                <a href="#! " class="contuss ">palamestates7@gmail.com</a>
                            </li>
                            <li>
                                <h2 class="contus ">Site:</h2>

                                <a href="#! " class="contuss ">palamestates7@gmail.com</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>