.custom-cont {}

.footcont {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 107.02%;
    text-decoration: none;
    /* identical to box height, or 15px */
    text-align: center;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    color: #000000;
}

.bg-image {
    background-image: url('../../../assets/images/backcont.png');
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0.9);
}

.contus {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30.6885px;
    line-height: 46px;
    text-align: justify;
    color: #C4C4C4;
}

.contuss {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.5188px;
    line-height: 25px;
    color: #C4C4C4;
    text-decoration: none;
}

.input-field {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17.4581px;
    line-height: 26px;
    color: #C4C4C4;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.form-control {
    background-color: transparent;
    color: #C4C4C4;
}

.custom-card {
    background-color: transparent;
}

.custom-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 31.7042px;
    line-height: 61px;
    color: #FFED8B;
}

.custom-label {
    color: #8D8D8D;
}

.custom-input {
    color: #8D8D8D;
}

.custom-select-prefix {
    background-color: transparent;
}

.custom-textarea {
    color: #8D8D8D;
}

.custom-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40.7042px;
    line-height: 61px;
    text-align: justify;
    color: #FFED8B;
}

.custom-link {
    color: #C4C4C4;
    font-size: 16.519px;
    font-family: Poppins;
}

.custom-subheading {
    color: #C4C4C4;
    text-align: justify;
    font-size: 30.689px;
    font-family: Poppins;
    font-weight: 500;
}

@media (max-width: 768px) {
    .custom-cont {
        margin-bottom: 2000px;
    }
    .custom-title {
        font-size: 25px;
        line-height: 40px;
    }
    .custom-heading {
        font-size: 35px;
        line-height: 50px;
    }
}