<div class="container bg-image p-5">
    <div class="row">
        <div class="col-md-6">
            <div class="p-5">
                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title custom-title">GET IN TOUCH WITH US</h5>
                        <form>
                            <div class="form-group">
                                <p for="nameInput" class="input-label custom-label">Name</p>
                                <input type="text" class="form-control custom-input" id="nameInput" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <p for="emailInput" class="input-label custom-label">Email</p>
                                <input type="email" class="form-control custom-input" id="emailInput" placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                                <p for="phoneInput" class="input-label custom-label">Phone</p>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="custom-select custom-select-prefix">
                                            <option selected>+1</option>
                                            <option>+91</option>
                                            <option>+44</option>
                                            <!-- Add more country codes as needed -->
                                        </select>
                                    </div>
                                    <input type="tel" class="form-control custom-input" id="phoneInput" placeholder="Enter your phone number">
                                </div>
                            </div>
                            <div class="form-group">
                                <p for="messageInput" class="input-label custom-label">Message</p>
                                <textarea class="form-control custom-textarea" id="messageInput" rows="4" placeholder="Enter your message"></textarea>
                            </div>
                            <br>
                            <div class="row"><button type="submit" class="btn btn-primary btn-block custom-button">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-5">
                <h1 class="custom-heading">Contact US</h1>
                <div class="card shadow custom-card">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <h2 class="custom-subheading">Admin Office:</h2>
                                <a href="#!" class="custom-link">F2550E, opp. Manipal hospital, Palam vihar, Gurgaon, Haryana 122017</a>
                            </li>
                            <li>
                                <h2 class="custom-subheading">Corporate:</h2>
                                <a href="#!" class="custom-link">98990-92879 9696-100-500</a>
                            </li>
                            <li>
                                <h2 class="custom-subheading">Email:</h2>
                                <a href="#!" class="custom-link">palamestates7@gmail.com</a>
                            </li>
                            <li>
                                <h2 class="custom-subheading">Phone:</h2>
                                <a href="#!" class="custom-link">palamestates7@gmail.com</a>
                            </li>
                            <li>
                                <h2 class="custom-subheading">Site:</h2>
                                <a href="#!" class="custom-link">palamestates7@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>