<app-navbar></app-navbar>

<div class="banner1" style="position: relative;
    height: 80vh;
    background: url('../../assets/images/constructionupdate.png') no-repeat center center fixed;
    background-size: cover;">

    <div class="translucent-strip">
        <div style="text-align: center;">
            <P class="heading"> construction update</P>
        </div>
    </div>


</div>
<app-left-overlay></app-left-overlay>

<app-right-overlay></app-right-overlay>


<app-newsletter></app-newsletter>
<app-footer></app-footer>