<app-navbar></app-navbar>
<div style="
    padding-left: 210px;
    padding-top: 40px;
    padding-bottom: 40px;">
    <h1 style="font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 325;
    font-size:39.2268px;;
    line-height: 103.8%;
    /* or 68px */
    margin-left: 10px;
    
   
    
    color: #303033;
    ">Get in touch with us,</h1>
    <h1 style="font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 325;
    font-size:39.2268px;;
    line-height: 103.8%;
    /* or 68px */
    margin-left: 10px;
    
    color: #303033;
    ">Send us a message</h1>
</div>
<app-cont></app-cont>
<app-newsletter></app-newsletter>
<app-footer></app-footer>