<div class="container p-5">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../../assets/images/Rectangle 9829.png" alt="Image">
                <div class="overlay">
                    <h3 class="rightheading
                    ">Living In Exclusivity</h3>
                    <p class="rightcont">This is what this project is all about. This is what its conception, design, engineering is about. It is an attempt aimed at excellence beyond comprehension, it is about providing joy and contentment, It is about heights; greater and
                        farther. The complex is almost fully habitable. More than 300 families have already moved in and are counting by the day in view of the fact that the Dwarka Expressway bypassing the housing complex at about 500 mts. distance is
                        under active completion towards its link with the National Highway 48 [Gurgraon-Jaipur Highway] just before the existing Khirki Dhaula Toll Plaza, which can be conveniently avoided to reach the destination.</p>

                </div>
            </div>
        </div>
    </div>
</div>